
@font-face {
  font-family: 'Montserrat-ThinItalic';
  src: url('Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),  url('Montserrat-ThinItalic.woff') format('woff'), url('Montserrat-ThinItalic.ttf')  format('truetype'), url('Montserrat-ThinItalic.svg#Montserrat-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
